<div class="content-top corner-all">
    {% if avatar is defined and avatar %}
        <div class="img">
            {% include 'partials/avatar.twig' with avatar only %}
        </div>
    {% endif %}
    <h3>
        {% if icon is defined and icon %}
            <i class="fas {{ icon }} mr-1"></i>
        {% endif %}
        {{ title }}
    </h3>
    {% if subtitle %}
        <p>{{ subtitle }}</p>
    {% endif %}
    <div class="clear"></div>
</div>
